<div class="container-fluid">
  <div class="card">
    <div class="card-header blue-lucisun">
      <div style="text-align: center;">
        <h1 class="card-title ">TMY Configuration List</h1>
        <p class="card-category"></p>
      </div>
    </div>
    <div class="card-body">
      <div class="mb-2 row">
        <div class="col-3">
          <span class="input-group-btn ">
            <button class="btn btn-sm green-lucisun p-2" (click)="open(content)">
              <mat-icon>settings</mat-icon> New Configuration</button>
          </span>
        </div>
        <div class="col-4"></div>
        <div class="col-5">
          <input type="text" class="form-control mb-4" placeholder="Recherche..." name="Search"
            [(ngModel)]="searchTmyConfig">
        </div>

      </div>
      <table class="table table-bordered table-striped  hover">
        <thead>
          <tr>
            <th>N°</th>
            <th>Project Name</th>
            <th>Granularity</th>
            <th>Technology</th>
            <th>PV Description</th>
            <th>PV Azimuth</th>
            <th>Traker Description</th>
            <th>Details</th>
            <th>Modify</th>
            <th>download</th>
          </tr>

        </thead>
        <tbody>
          <tr *ngFor="let tmyconf of tmyConfigurationList.slice().reverse(); index as i">
            <th scope="row">{{tmyConfigurationList.length - i}}</th>
            <td><span>{{tmyconf.project_name!=null?tmyconf.project_name:""}}</span></td>
            <td><span>{{tmyconf.analysis!=null?tmyconf.analysis.granularity:""}}</span></td>
            <td><span>{{tmyconf.pv_system!=null?tmyconf.pv_system.technology:""}}</span></td>
            <td><span>{{tmyconf.pv_system!=null?tmyconf.pv_system.pv.description:""}}</span></td>
            <td><span>{{tmyconf.pv_system!=null?tmyconf.pv_system.pv.azimuth:""}}</span></td>
            <td><span>{{tmyconf.pv_system.tracker!=null?tmyconf.pv_system.tracker.description:""}}</span></td>
            <td>
              <div class="example-button-container ">
                <button mat-mini-fab class="blue-lucisun" (click)="openProfil(contentProfil, tmyconf)">
                  <mat-icon>visibility</mat-icon>
                </button>
              </div>
            </td>
            <td>
              <div class="example-button-container ">
                <button mat-mini-fab class="yello-lucisun" (click)="openEdit(contentEdit, tmyconf)">
                  <mat-icon>edit</mat-icon>
                </button>
              </div>
            </td>
            <td>
              <div class="example-button-container ">
                <button mat-mini-fab class="green-lucisun" (click)="onDownloadConfiguration(tmyconf)">
                  <mat-icon>download</mat-icon>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h2 class="modal-title" id="modal-basic-title">New Configuration</h2>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" *ngIf="tmyConfFormGroup">
    <form [formGroup]="tmyConfFormGroup">
      <div class="form-group">
        <label for="project_name">Project Name</label>
        <input id="project_name" formControlName="project_name" class="form-control"
          [ngClass]="{ 'is-invalid':submitted && f.project_name.errors }">
        <div *ngIf="submitted && f.project_name.errors" class="invalid-feedback">
          <div *ngIf="f.project_name.errors.required">Project Name is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="latitude">Latitude</label>
        <input id="latitude" formControlName="latitude" class="form-control"
          [ngClass]="{ 'is-invalid':submitted && f.latitude.errors }">
        <div *ngIf="submitted && f.latitude.errors" class="invalid-feedback">
          <div *ngIf="f.latitude.errors.required">Latitude is required</div>
        </div>
      </div>
      <!-- <div class="form-group">
        <label for="birthDate">Birth Date</label>
        <div class="form-group">
          <div class="input-group">
            <input class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #d="ngbDatepicker"
              id="birthDate" [minDate]="{year: 1975, month: 1, day: 1}" [maxDate]="{year: 2005, month: 12, day: 31}"
              formControlName="birthDate" [ngClass]="{ 'is-invalid':submitted && f.birthDate.errors }">
            <div class="input-group-addon" (click)="d.toggle()">
              <img src="assets/images/calendar.png" style="width: 3.2rem; height: 2.5rem; cursor: pointer;" />
            </div>
            <div *ngIf="submitted && f.birthDate.errors" class="invalid-feedback">
              <div *ngIf="f.birthDate.errors.required">Birth Date is required</div>
            </div>
          </div>
        </div>
      </div> -->
      <div class="form-group">
        <label for="pv_description">PV Description</label>
        <input id="pv_description" formControlName="pv_description" class="form-control"
          [ngClass]="{ 'is-invalid':submitted && f.pv_description.errors }">
        <div *ngIf="submitted && f.pv_description.errors" class="invalid-feedback">
          <div *ngIf="f.pv_description.errors.required">PV Description is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="longitude">Longitude</label>
        <input id="longitude" formControlName="longitude" class="form-control" placeholder="774596879"
          [ngClass]="{ 'is-invalid':submitted && f.longitude.errors }">
        <div *ngIf="submitted && f.longitude.errors" class="invalid-feedback">
          <div *ngIf="f.longitude.errors.required">Longitude is required</div>
          <div *ngIf="f.longitude.errors.pattern"> Longitude not valid.</div>
        </div>
      </div>
      <div class="form-group">
        <label for="altitude">Altitude</label>
        <input id="altitude" formControlName="altitude" class="form-control"
          [ngClass]="{ 'is-invalid':submitted && f.altitude.errors }">
        <div *ngIf="submitted && f.altitude.errors" class="invalid-feedback">
          <div *ngIf="f.altitude.errors.required">Altitude is required</div>
          <div *ngIf="f.altitude.errors.pattern"> Altitude not valid.</div>
        </div>
      </div>
      <div class="form-group">
        <label for="technology">Technology</label>
        <input id="technology" formControlName="technology" class="form-control"
          [ngClass]="{ 'is-invalid':submitted && f.technology.errors }">
        <div *ngIf="submitted && f.technology.errors" class="invalid-feedback">
          <div *ngIf="f.technology.errors.required">Technology is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="tilt">PV Tilt</label>
        <input id="tilt" formControlName="tilt" class="form-control"
          [ngClass]="{ 'is-invalid':submitted && f.tilt.errors }">
        <div *ngIf="submitted && f.tilt.errors" class="invalid-feedback">
          <div *ngIf="f.tilt.errors.required">PV Tilt is required</div>
          <div *ngIf="f.tilt.errors.pattern"> PV Tilt not valid.</div>
        </div>
      </div>

      <div class="form-group">
        <label for="azimuth">PV azimuth</label>
        <input id="azimuth" formControlName="azimuth" class="form-control"
          [ngClass]="{ 'is-invalid':submitted && f.azimuth.errors }">
        <div *ngIf="submitted && f.azimuth.errors" class="invalid-feedback">
          <div *ngIf="f.azimuth.errors.required">PV azimuth is required</div>
          <div *ngIf="f.azimuth.errors.pattern"> PV azimuth not valid.</div>
        </div>
      </div>
      <div class="form-group">
        <label for="tracker_description"> tracker_description</label>
        <input id="tracker_description" formControlName="tracker_description" class="form-control"
          [ngClass]="{ 'is-invalid':submitted && f.tracker_description.errors }">
        <div *ngIf="submitted && f.tracker_description.errors" class="invalid-feedback">
          <div *ngIf="f.tracker_description.errors.required">PV tracker_description is required</div>
          <div *ngIf="f.tracker_description.errors.pattern"> PV tracker_description not valid.</div>
        </div>
      </div>
      <div class="form-group">
        <label for="gcr">PV gcr</label>
        <input id="gcr" formControlName="gcr" class="form-control"
          [ngClass]="{ 'is-invalid':submitted && f.gcr.errors }">
        <div *ngIf="submitted && f.gcr.errors" class="invalid-feedback">
          <div *ngIf="f.gcr.errors.required">PV gcr is required</div>
          <div *ngIf="f.gcr.errors.pattern"> PV gcr not valid.</div>
        </div>
      </div>
      <div class="form-group">
        <label for="axis_azimuth">PV axis_azimuth</label>
        <input id="axis_azimuth" formControlName="axis_azimuth" class="form-control"
          [ngClass]="{ 'is-invalid':submitted && f.axis_azimuth.errors }">
        <div *ngIf="submitted && f.axis_azimuth.errors" class="invalid-feedback">
          <div *ngIf="f.axis_azimuth.errors.required">PV axis_azimuth is required</div>
          <div *ngIf="f.axis_azimuth.errors.pattern"> PV axis_azimuth not valid.</div>
        </div>
      </div>
      <div class="form-group">
        <label for="max_angle">PV max_angle</label>
        <input id="max_angle" formControlName="max_angle" class="form-control"
          [ngClass]="{ 'is-invalid':submitted && f.max_angle.errors }">
        <div *ngIf="submitted && f.max_angle.errors" class="invalid-feedback">
          <div *ngIf="f.max_angle.errors.required">PV max_angle is required</div>
          <div *ngIf="f.max_angle.errors.pattern"> PV max_angle not valid.</div>
        </div>
      </div>

      <div class="form-group">
        <label for="request_id">request_id</label>
        <input id="request_id" formControlName="request_id" class="form-control"
          [ngClass]="{ 'is-invalid':submitted && f.request_id.errors }">
        <div *ngIf="submitted && f.request_id.errors" class="invalid-feedback">
          <div *ngIf="f.request_id.errors.required">request_id is required</div>
          <div *ngIf="f.request_id.errors.pattern"> request_id not valid.</div>
        </div>
      </div>
      <div class="form-group">
        <label for="p50">P50</label>
        <select class="form-control" formControlName="p50" id="p50"
          [ngClass]="{ 'is-invalid':submitted && tmyConfFormGroup.value.p50=='Select'}">
          <option disabled>Select</option>
          <option>true</option>
          <option>false</option>
        </select>
        <div *ngIf="submitted && tmyConfFormGroup.value.p50=='Select'" class="invalid-feedback">
          <div *ngIf="tmyConfFormGroup.value.p50=='Select'">p50 is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="p75">P75</label>
        <select class="form-control" formControlName="p75" id="p75"
          [ngClass]="{ 'is-invalid':submitted && tmyConfFormGroup.value.p75=='Select'}">
          <option disabled>Select</option>
          <option>true</option>
          <option>false</option>
        </select>
        <div *ngIf="submitted && tmyConfFormGroup.value.p75=='Select'" class="invalid-feedback">
          <div *ngIf="tmyConfFormGroup.value.p75=='Select'">p75 is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="p90">P90</label>
        <select class="form-control" formControlName="p90" id="p90"
          [ngClass]="{ 'is-invalid':submitted && tmyConfFormGroup.value.p90=='Select'}">
          <option disabled>Select</option>
          <option>true</option>
          <option>false</option>
        </select>
        <div *ngIf="submitted && tmyConfFormGroup.value.p90=='Select'" class="invalid-feedback">
          <div *ngIf="tmyConfFormGroup.value.p90=='Select'">p90 is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="p10">P10</label>
        <select class="form-control" formControlName="p10" id="p10"
          [ngClass]="{ 'is-invalid':submitted && tmyConfFormGroup.value.p10=='Select'}">
          <option disabled>Select</option>
          <option>true</option>
          <option>false</option>
        </select>
        <div *ngIf="submitted && tmyConfFormGroup.value.p10=='Select'" class="invalid-feedback">
          <div *ngIf="tmyConfFormGroup.value.p10=='Select'">p10 is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="p99">P99</label>
        <select class="form-control" formControlName="p99" id="p99"
          [ngClass]="{ 'is-invalid':submitted && tmyConfFormGroup.value.p99=='Select'}">
          <option disabled>Select</option>
          <option>true</option>
          <option>false</option>
        </select>
        <div *ngIf="submitted && tmyConfFormGroup.value.p99=='Select'" class="invalid-feedback">
          <div *ngIf="tmyConfFormGroup.value.p99=='Select'">p99 is required</div>
        </div>
      </div>


      <div class="form-group">
        <label for="ambient_temperature">ambient_temperature</label>
        <input id="ambient_temperature" formControlName="ambient_temperature" class="form-control"
          [ngClass]="{ 'is-invalid':submitted && f.ambient_temperature.errors }">
        <div *ngIf="submitted && f.ambient_temperature.errors" class="invalid-feedback">
          <div *ngIf="f.ambient_temperature.errors.required">ambient_temperature is required</div>
          <div *ngIf="f.ambient_temperature.errors.pattern"> ambient_temperature not valid.</div>
        </div>
      </div>
      <div class="form-group">
        <label for="pm_2_5">pm_2_5</label>
        <select class="form-control" formControlName="pm_2_5" id="pm_2_5"
          [ngClass]="{ 'is-invalid':submitted && tmyConfFormGroup.value.pm_2_5=='Select'}">
          <option disabled>Select</option>
          <option>true</option>
          <option>false</option>
        </select>
        <div *ngIf="submitted && tmyConfFormGroup.value.pm_2_5=='Select'" class="invalid-feedback">
          <div *ngIf="tmyConfFormGroup.value.pm_2_5=='Select'">pm_2_5 is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="pm_10">pm_10</label>
        <select class="form-control" formControlName="pm_10" id="pm_10"
          [ngClass]="{ 'is-invalid':submitted && tmyConfFormGroup.value.pm_10=='Select'}">
          <option disabled>Select</option>
          <option>true</option>
          <option>false</option>
        </select>
        <div *ngIf="submitted && tmyConfFormGroup.value.pm_10=='Select'" class="invalid-feedback">
          <div *ngIf="tmyConfFormGroup.value.pm_10=='Select'">pm_10 is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="relative_humidity">relative_humidity</label>
        <input id="relative_humidity" formControlName="relative_humidity" class="form-control"
          [ngClass]="{ 'is-invalid':submitted && f.relative_humidity.errors }">
        <div *ngIf="submitted && f.relative_humidity.errors" class="invalid-feedback">
          <div *ngIf="f.relative_humidity.errors.required">relative_humidity is required</div>
          <div *ngIf="f.relative_humidity.errors.pattern"> relative_humidity not valid.</div>
        </div>
      </div>
      <div class="form-group">
        <label for="precipitable_water">precipitable_water</label>
        <input id="precipitable_water" formControlName="precipitable_water" class="form-control"
          [ngClass]="{ 'is-invalid':submitted && f.precipitable_water.errors }">
        <div *ngIf="submitted && f.precipitable_water.errors" class="invalid-feedback">
          <div *ngIf="f.precipitable_water.errors.required">precipitable_water is required</div>
          <div *ngIf="f.precipitable_water.errors.pattern"> precipitable_water not valid.</div>
        </div>
      </div>
      <div class="form-group">
        <label for="wind_direction">wind_direction</label>
        <input id="wind_direction" formControlName="wind_direction" class="form-control"
          [ngClass]="{ 'is-invalid':submitted && f.wind_direction.errors }">
        <div *ngIf="submitted && f.wind_direction.errors" class="invalid-feedback">
          <div *ngIf="f.wind_direction.errors.required">wind_direction is required</div>
          <div *ngIf="f.wind_direction.errors.pattern"> wind_direction not valid.</div>
        </div>
      </div>
      <div class="form-group">
        <label for="granularity">granularity</label>
        <input id="granularity" formControlName="granularity" class="form-control"
          [ngClass]="{ 'is-invalid':submitted && f.granularity.errors }">
        <div *ngIf="submitted && f.granularity.errors" class="invalid-feedback">
          <div *ngIf="f.granularity.errors.required">granularity is required</div>
          <div *ngIf="f.granularity.errors.pattern"> granularity not valid.</div>
        </div>
      </div>
      <div class="border text-center">
        <button data-dismiss="modal" class="btn btn-info" (click)="onCreate()">Submit</button>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Close</button>
  </div>
</ng-template>

<ng-template #contentProfil let-modal>
  <!-- <div class="modal-header">
      <h2 class="modal-title" id="modal-basic-title">Customer details</h2>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-4">
              <img *ngIf="customerDetails.photoUser" src="data:image/png;base64,{{customerDetails.photoUser}}" width="150" height="150" class="rounded-circle mx-auto d-block" alt="">
              <img *ngIf="!customerDetails.photoUser" [src]=avatar_piture width="120" height="150" class="rounded-circle mx-auto d-block" alt=""/>
             </div>
              <div class="col-3"></div>
          </div>
           <hr>
          <div class="row">
            <div class="col-sm-5">
              <h3 class="mb-0">ID Card number</h3>
            </div>
            <div class="col-sm-7 text-secondary font-weight-bold text-right">
              {{customerDetails.altitude!=null?customerDetails.altitude:""}}
            </div>
          </div>
           <hr>
          
           <hr>
          <div class="row">
            <div class="col-sm-5">
              <h3 class="mb-0">Firstname</h3>
            </div>
            <div class="col-sm-7 text-secondary font-weight-bold text-right">
              {{customerDetails.firstName!=null?customerDetails.firstName:""}}
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-5">
              <h3 class="mb-0">Lastname</h3>
            </div>
            <div class="col-sm-7 text-secondary font-weight-bold text-right">
               {{customerDetails.lastName!=null?customerDetails.lastName:""}}
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-5">
              <h3 class="mb-0">Phone number</h3>
            </div>
            <div class="col-sm-7 text-secondary font-weight-bold text-right">
             +221 {{customerDetails.username}}
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-5">
              <h3 class="mb-0">Gender</h3>
            </div>
            <div class="col-sm-7 text-secondary font-weight-bold text-right">
              {{customerDetails.gender!=null?customerDetails.gender['name']:""}}
            </div>
          </div>
          <hr> -->


  <!-- <div class="row">
            <div class="col-sm-5">
              <h3 class="mb-0">Birth date</h3>
            </div>
            <div class="col-sm-7 text-secondary font-weight-bold text-right">
              {{(customerDetails.birthDate!=null?customerDetails.birthDate:"").toString().split('T')[0]}}
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-5">
              <h3 class="mb-0">technology</h3>
            </div>
            <div class="col-sm-7 text-secondary font-weight-bold text-right">
              {{customerDetails.technology!=null?customerDetails.technology:""}}, {{customerDetails.village!=null?customerDetails.village:""}}
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-5">
              <h3 class="mb-0">Activity</h3>
            </div>
            <div class="col-sm-7 text-secondary font-weight-bold text-right">
              {{customerDetails.activity!=null?customerDetails.activity:""}}
            </div>
          </div>
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Close</button>
      </div> -->
</ng-template>

<ng-template #contentEdit let-modal>
  <div class="modal-header">
    <h2 class="modal-title" id="modal-basic-title2">Edit Configuration</h2>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" *ngIf="editTmyConfForm">
    <form [formGroup]="editTmyConfForm">
      <div class="form-group">
        <label for="project_name">Project Name</label>
        <input formControlName="project_name" class="form-control"
          [ngClass]="{ 'is-invalid':submitted && f.project_name.errors }">
        <div *ngIf="submitted && f.project_name.errors" class="invalid-feedback">
          <div *ngIf="f.project_name.errors.required">Project Name is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="latitude">Latitude</label>
        <input formControlName="latitude" class="form-control"
          [ngClass]="{ 'is-invalid':submitted && f.latitude.errors }">
        <div *ngIf="submitted && f.latitude.errors" class="invalid-feedback">
          <div *ngIf="f.latitude.errors.required">Latitude is required</div>
        </div>
      </div>
      <!-- <div class="form-group">
        <label for="birthDate">Birth Date</label>
        <div class="form-group">
          <div class="input-group">
            <input class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #d="ngbDatepicker"
             [minDate]="{year: 1975, month: 1, day: 1}" [maxDate]="{year: 2005, month: 12, day: 31}"
              formControlName="birthDate" [ngClass]="{ 'is-invalid':submitted && f.birthDate.errors }">
            <div class="input-group-addon" (click)="d.toggle()">
              <img src="assets/images/calendar.png" style="width: 3.2rem; height: 2.5rem; cursor: pointer;" />
            </div>
            <div *ngIf="submitted && f.birthDate.errors" class="invalid-feedback">
              <div *ngIf="f.birthDate.errors.required">Birth Date is required</div>
            </div>
          </div>
        </div>
      </div> -->
      <div class="form-group">
        <label for="pv_description">PV Description</label>
        <input formControlName="pv_description" class="form-control"
          [ngClass]="{ 'is-invalid':submitted && f.pv_description.errors }">
        <div *ngIf="submitted && f.pv_description.errors" class="invalid-feedback">
          <div *ngIf="f.pv_description.errors.required">PV Description is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="longitude">Longitude</label>
        <input formControlName="longitude" class="form-control" placeholder="774596879"
          [ngClass]="{ 'is-invalid':submitted && f.longitude.errors }">
        <div *ngIf="submitted && f.longitude.errors" class="invalid-feedback">
          <div *ngIf="f.longitude.errors.required">Longitude is required</div>
          <div *ngIf="f.longitude.errors.pattern"> Longitude not valid.</div>
        </div>
      </div>
      <div class="form-group">
        <label for="altitude">Altitude</label>
        <input formControlName="altitude" class="form-control"
          [ngClass]="{ 'is-invalid':submitted && f.altitude.errors }">
        <div *ngIf="submitted && f.altitude.errors" class="invalid-feedback">
          <div *ngIf="f.altitude.errors.required">Altitude is required</div>
          <div *ngIf="f.altitude.errors.pattern"> Altitude not valid.</div>
        </div>
      </div>
      <div class="form-group">
        <label for="technology">Technology</label>
        <input  formControlName="technology" class="form-control"
          [ngClass]="{ 'is-invalid':submitted && f.technology.errors }">
        <div *ngIf="submitted && f.technology.errors" class="invalid-feedback">
          <div *ngIf="f.technology.errors.required">Technology is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="tilt">PV Tilt</label>
        <input formControlName="tilt" class="form-control"
          [ngClass]="{ 'is-invalid':submitted && f.tilt.errors }">
        <div *ngIf="submitted && f.tilt.errors" class="invalid-feedback">
          <div *ngIf="f.tilt.errors.required">PV Tilt is required</div>
          <div *ngIf="f.tilt.errors.pattern"> PV Tilt not valid.</div>
        </div>
      </div>

      <div class="form-group">
        <label for="azimuth">PV azimuth</label>
        <input formControlName="azimuth" class="form-control"
          [ngClass]="{ 'is-invalid':submitted && f.azimuth.errors }">
        <div *ngIf="submitted && f.azimuth.errors" class="invalid-feedback">
          <div *ngIf="f.azimuth.errors.required">PV azimuth is required</div>
          <div *ngIf="f.azimuth.errors.pattern"> PV azimuth not valid.</div>
        </div>
      </div>
      <div class="form-group">
        <label for="tracker_description"> tracker_description</label>
        <input  formControlName="tracker_description" class="form-control"
          [ngClass]="{ 'is-invalid':submitted && f.tracker_description.errors }">
        <div *ngIf="submitted && f.tracker_description.errors" class="invalid-feedback">
          <div *ngIf="f.tracker_description.errors.required">PV tracker_description is required</div>
          <div *ngIf="f.tracker_description.errors.pattern"> PV tracker_description not valid.</div>
        </div>
      </div>
      <div class="form-group">
        <label for="gcr">PV gcr</label>
        <input formControlName="gcr" class="form-control"
          [ngClass]="{ 'is-invalid':submitted && f.gcr.errors }">
        <div *ngIf="submitted && f.gcr.errors" class="invalid-feedback">
          <div *ngIf="f.gcr.errors.required">PV gcr is required</div>
          <div *ngIf="f.gcr.errors.pattern"> PV gcr not valid.</div>
        </div>
      </div>
      <div class="form-group">
        <label for="axis_azimuth">PV axis_azimuth</label>
        <input formControlName="axis_azimuth" class="form-control"
          [ngClass]="{ 'is-invalid':submitted && f.axis_azimuth.errors }">
        <div *ngIf="submitted && f.axis_azimuth.errors" class="invalid-feedback">
          <div *ngIf="f.axis_azimuth.errors.required">PV axis_azimuth is required</div>
          <div *ngIf="f.axis_azimuth.errors.pattern"> PV axis_azimuth not valid.</div>
        </div>
      </div>
      <div class="form-group">
        <label for="max_angle">PV max_angle</label>
        <input formControlName="max_angle" class="form-control"
          [ngClass]="{ 'is-invalid':submitted && f.max_angle.errors }">
        <div *ngIf="submitted && f.max_angle.errors" class="invalid-feedback">
          <div *ngIf="f.max_angle.errors.required">PV max_angle is required</div>
          <div *ngIf="f.max_angle.errors.pattern"> PV max_angle not valid.</div>
        </div>
      </div>

      <div class="form-group">
        <label for="request_id">request_id</label>
        <input formControlName="request_id" class="form-control"
          [ngClass]="{ 'is-invalid':submitted && f.request_id.errors }">
        <div *ngIf="submitted && f.request_id.errors" class="invalid-feedback">
          <div *ngIf="f.request_id.errors.required">request_id is required</div>
          <div *ngIf="f.request_id.errors.pattern"> request_id not valid.</div>
        </div>
      </div>
      <div class="form-group">
        <label for="p50">P50</label>
        <select class="form-control" formControlName="p50" 
          [ngClass]="{ 'is-invalid':submitted && tmyConfFormGroup.value.p50=='Select'}">
          <option disabled>Select</option>
          <option>true</option>
          <option>false</option>
        </select>
        <div *ngIf="submitted && tmyConfFormGroup.value.p50=='Select'" class="invalid-feedback">
          <div *ngIf="tmyConfFormGroup.value.p50=='Select'">p50 is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="p75">P75</label>
        <select class="form-control" formControlName="p75" 
          [ngClass]="{ 'is-invalid':submitted && tmyConfFormGroup.value.p75=='Select'}">
          <option disabled>Select</option>
          <option>true</option>
          <option>false</option>
        </select>
        <div *ngIf="submitted && tmyConfFormGroup.value.p75=='Select'" class="invalid-feedback">
          <div *ngIf="tmyConfFormGroup.value.p75=='Select'">p75 is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="p90">P90</label>
        <select class="form-control" formControlName="p90"
          [ngClass]="{ 'is-invalid':submitted && tmyConfFormGroup.value.p90=='Select'}">
          <option disabled>Select</option>
          <option>true</option>
          <option>false</option>
        </select>
        <div *ngIf="submitted && tmyConfFormGroup.value.p90=='Select'" class="invalid-feedback">
          <div *ngIf="tmyConfFormGroup.value.p90=='Select'">p90 is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="p10">P10</label>
        <select class="form-control" formControlName="p10" 
          [ngClass]="{ 'is-invalid':submitted && tmyConfFormGroup.value.p10=='Select'}">
          <option disabled>Select</option>
          <option>true</option>
          <option>false</option>
        </select>
        <div *ngIf="submitted && tmyConfFormGroup.value.p10=='Select'" class="invalid-feedback">
          <div *ngIf="tmyConfFormGroup.value.p10=='Select'">p10 is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="p99">P99</label>
        <select class="form-control" formControlName="p99" 
          [ngClass]="{ 'is-invalid':submitted && tmyConfFormGroup.value.p99=='Select'}">
          <option disabled>Select</option>
          <option>true</option>
          <option>false</option>
        </select>
        <div *ngIf="submitted && tmyConfFormGroup.value.p99=='Select'" class="invalid-feedback">
          <div *ngIf="tmyConfFormGroup.value.p99=='Select'">p99 is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="ambient_temperature">ambient_temperature</label>
        <input  formControlName="ambient_temperature" class="form-control"
          [ngClass]="{ 'is-invalid':submitted && f.ambient_temperature.errors }">
        <div *ngIf="submitted && f.ambient_temperature.errors" class="invalid-feedback">
          <div *ngIf="f.ambient_temperature.errors.required">ambient_temperature is required</div>
          <div *ngIf="f.ambient_temperature.errors.pattern"> ambient_temperature not valid.</div>
        </div>
      </div>
      <div class="form-group">
        <label for="pm_2_5">pm_2_5</label>
        <select class="form-control" formControlName="pm_2_5" 
          [ngClass]="{ 'is-invalid':submitted && tmyConfFormGroup.value.pm_2_5=='Select'}">
          <option disabled>Select</option>
          <option>true</option>
          <option>false</option>
        </select>
        <div *ngIf="submitted && tmyConfFormGroup.value.pm_2_5=='Select'" class="invalid-feedback">
          <div *ngIf="tmyConfFormGroup.value.pm_2_5=='Select'">pm_2_5 is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="pm_10">pm_10</label>
        <select class="form-control" formControlName="pm_10" 
          [ngClass]="{ 'is-invalid':submitted && tmyConfFormGroup.value.pm_10=='Select'}">
          <option disabled>Select</option>
          <option>true</option>
          <option>false</option>
        </select>
        <div *ngIf="submitted && tmyConfFormGroup.value.pm_10=='Select'" class="invalid-feedback">
          <div *ngIf="tmyConfFormGroup.value.pm_10=='Select'">pm_10 is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="relative_humidity">relative_humidity</label>
        <input  formControlName="relative_humidity" class="form-control"
          [ngClass]="{ 'is-invalid':submitted && f.relative_humidity.errors }">
        <div *ngIf="submitted && f.relative_humidity.errors" class="invalid-feedback">
          <div *ngIf="f.relative_humidity.errors.required">relative_humidity is required</div>
          <div *ngIf="f.relative_humidity.errors.pattern"> relative_humidity not valid.</div>
        </div>
      </div>
      <div class="form-group">
        <label for="precipitable_water">precipitable_water</label>
        <input  formControlName="precipitable_water" class="form-control"
          [ngClass]="{ 'is-invalid':submitted && f.precipitable_water.errors }">
        <div *ngIf="submitted && f.precipitable_water.errors" class="invalid-feedback">
          <div *ngIf="f.precipitable_water.errors.required">precipitable_water is required</div>
          <div *ngIf="f.precipitable_water.errors.pattern"> precipitable_water not valid.</div>
        </div>
      </div>
      <div class="form-group">
        <label for="wind_direction">wind_direction</label>
        <input  formControlName="wind_direction" class="form-control"
          [ngClass]="{ 'is-invalid':submitted && f.wind_direction.errors }">
        <div *ngIf="submitted && f.wind_direction.errors" class="invalid-feedback">
          <div *ngIf="f.wind_direction.errors.required">wind_direction is required</div>
          <div *ngIf="f.wind_direction.errors.pattern"> wind_direction not valid.</div>
        </div>
      </div>
      <div class="form-group">
        <label for="granularity">granularity</label>
        <input  formControlName="granularity" class="form-control"
          [ngClass]="{ 'is-invalid':submitted && f.granularity.errors }">
        <div *ngIf="submitted && f.granularity.errors" class="invalid-feedback">
          <div *ngIf="f.granularity.errors.required">granularity is required</div>
          <div *ngIf="f.granularity.errors.pattern"> granularity not valid.</div>
        </div>
      </div>
      <div class="border text-center">
        <button data-dismiss="modal" class="btn btn-info" (click)="onUpdate()">Save</button>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Close</button>
  </div>
</ng-template>

<ng-template #contentDelete let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Confirm Delete</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <h2>Are you sure you want to delete this record.</h2>
    <div class="border text-center">
      <button data-dismiss="modal" class="btn btn-danger" (click)="onDelete()">Yes, Delete!</button>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cancel</button>
  </div>
</ng-template>