.fa {
    margin-right: 4px;
  }
  
  table .fa{
    color:white;
  }
  
  
  table .btn{
    color: white;
  }

  .yello-lucisun{
    background: #fec811;
    color:#fff;
  }
  .blue-lucisun{
    background:#5ca4db ;
    color:#fff;
  }
  .green-lucisun{
    background:#94c34c;
    color:#fff;
  }
  
  // thead{
  //   background-color:darkgrey;
  // }
  
  .text-on-pannel {
    background: #fff none repeat scroll 0 0;
    height: auto;
    margin-left: 20px;
    padding: 3px 5px;
    position: absolute;
    margin-top: -47px;
    border: 1px solid #337ab7;
    border-radius: 8px;
  }
  
  .panel {
    /* for text on pannel */
    margin-top: 27px !important;
  }
  
  .panel-body {
    padding-top: 30px !important;
  }
  
  fieldset.scheduler-border {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow: 0px 0px 0px 0px #000;
    box-shadow: 0px 0px 0px 0px #000;
    // margin-top: 30px !important;
  }
  
  legend.scheduler-border {
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;
    width: auto;
    padding: 0 10px;
    border-bottom: none;
    margin-top: -15px;
    background-color: white;
    color: black;
  }
  