footer{
    padding: 8px;
    background-color:#fec811;
    color: #ffffff;
    text-align: center;
  }
  .yello-lucisun{
    color: #fec811;
  }
  .blue-lucisun{
    color: #5ca4db;
  }
  .vert-lucisun{
    color: #94c34c;
  }