:host {
    .mat-icon {
      vertical-align: middle;
      margin-right: 25px;
    }
  }
  
  .mat-list-item {
    // color: #070707 !important;
    font-size: 16px;
    height: 65px !important;
    margin-bottom: 4px;
    &:hover {
      color: #f2f5f7 !important;
    }
    ::ng-deep {
      .mat-list-item-content {
        border-radius: 5px;
        margin: 0 8px;
        &:hover {
          background: #552E5F !important;
        }
      }
    }
  }

.list-item-active {
    color: #f2f5f7 !important;
    ::ng-deep {
      .mat-list-item-content {
        background: #552E5F !important;
        &:hover {
          background: #552E5F !important;
        }
      }
    }
  }
  
  
  .profile-card {
    text-align: center;
    padding: 0px,10px,10px,10px;
    img {
      width: 60px;
      height: 100px;
      object-fit: cover;
      border-radius: 0%;
    }
    
    }
    .yello-lucisun{
      color: #fec811;
    }
    .blue-lucisun{
      color: #5ca4db;
    }
    .vert-lucisun{
      color: #94c34c;
    }
